#todo-error{
  color: red;
  font-size: 2em;
}

.row {
  height: 33vh;
}

/* body {
  background-repeat: no-repeat;
  background-size: 100% 100%; 
 } */

.completed-task {
  text-decoration: line-through;
}

.weather-display, .quote-display, .todo-display {
  background: rgba(250,250,250, 0.5)
}

.delete-todo {
  cursor: pointer;
}

.form-check{
  padding-left: 0;
}


.todo-link {
  color: black;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.card-body {
  box-sizing: unset;
}